.account__container{
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: #777;
  padding: 3rem;
  min-height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main {
    padding: 0rem 0rem;
    width: 80%;
    margin: 0 auto;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    box-shadow: 0 -5px 5px -5px #333;
}


.user_view {
    background-color: #fff;
    max-width: 120rem;
    margin: 0 auto;
    min-height: 95vh;
    border-radius: 3px;
    overflow: hidden;
    -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
    box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .user_view__menu {
    -webkit-box-flex: 32rem;
    -ms-flex: 32rem 0 0px;
    flex: 28rem 0 0;
    background-image: -webkit-gradient(
      linear,
      left top,
      right bottom,
      from(#7dd56f),
      to(#28b487)
    );
    background:  linear-gradient(90deg, rgba(139,231,165,1) 0%, rgba(55,162,203,1) 50%, rgba(213,0,162,1) 100%);
    padding: 4rem 0;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  

  .user_view__content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 4rem 0;
  }
  .user_view__form_container {
    max-width: 68rem;
    margin: 0 auto;
    padding: 0 8rem;
  }


  .side_nav {
    list-style: none;
  }
  .side_nav li {
    margin: 1rem 0;
    border-left: 0 solid #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .side_nav__active,
  .side_nav li:hover {
    border-left: 4px solid #fff !important;
  }
  .side_nav__active a {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  .side_nav a:link,
  .side_nav a:visited {
    padding: 1rem 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .side_nav a:hover,
  .side_nav a:active {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  .side_nav svg {
    height: 1.9rem;
    width: 1.9rem;
    fill: #f7f7f7;
    margin-right: 2rem;
  }


  .admin_nav {
    margin-top: 5.5rem;
  }
  .admin_nav__heading {
    margin: 0 5rem 1.5rem 4rem;
    padding-bottom: 3px;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #f2f2f2;
    border-bottom: 1px solid currentColor;
  }


  .heading_secondary {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#7dd56f),
      to(#28b487)
    );
    background-image: linear-gradient(to right, #dd5a44, #f05969, #fa5f91, #fb6dba, #f081e2);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 0.1rem;
    display: inline-block;
  }

  .ma_bt_md {
    margin-bottom: 3rem !important;
  }

  .ma_bt_lg {
    margin-bottom: 3.5rem !important;
  }

  .form__input {
    display: block;
    font-family: inherit;
    font-size: 1rem;
    color: inherit;
    padding: 1rem 1rem;
    border: none;
    width: 70%;
    background-color: #fff;
    background-color: #f2f2f2;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* Pseudo element (a visible thing that isn't really in the DOM).
        Also needs -ms- */
  }
  .form__input:focus {
    outline: none;
    border-bottom: 3px solid #55c57a;
  }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730;
  }
  .form__input::-webkit-input-placeholder {
    color: #bbb;
  }
  
  .form__group:not(:last-child) {
    margin-bottom: 2.5rem;
  }
  
  .form__label {
    display: block;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
  }
  
  .right {
    text-align: right !important;
  }

  .line {
    margin: 6rem 0;
    width: 100%;
    height: 1px;
    background-color: #e0e0e0;
  }
  

.btn,
.btn:link,
.btn:visited {
  padding: 1rem 2rem;
  border-radius: 10rem;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-weight: 400;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /*Add later when we use this for the button in form*/
  border: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:active {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
  background-color: var(--next-orangered);
}

.btn__white {
  background-color: #fff;
  color: #777;
}
.btn__white::after {
  background-color: #fff;
}

.btn__green {
  background-color: var(--next-orangered);
  color: #fff;
}
.btn__green::after {
  background-color: var(--next-orangered);
}

.btn__small {
  padding: 1.2rem 3rem !important;
}

.btn_small,
.btn_small:link,
.btn_small:visited {
  background-color: #55c57a;
  color: #fff;
  font-size: 1.4rem;
  padding: 1.25rem 3rem;
  border-radius: 10rem;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  text-decoration: none;
  font-weight: 400;
  border: none;
}

.btn_small:hover {
  background-color: #7dd56f;
}

.btn_text:link,
.btn_text:visited {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn_text:hover {
  background-color: #55c57a;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.btn_text:active {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn_text:focus {
  outline: none;
  outline: 3px solid #55c57a;
  outline-offset: 3px;
}