.home__container{
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
    width: 100%;
}

.container__heading{
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    justify-content: center;
}
.container__heading p{
    font-size: large;
    font-weight: 700;
    display: block;
    margin: 1.3rem 0rem;
}

.heading{
    font-size: 4rem;
    margin: 0;
}

.subHeading p{
    font-weight: 500;
    left: 0;
}

.button__container{
    display: flex;
}

.rotate{
    background-color: var(--secondary-color);
    clip-path: polygon(0 16%, 100% 0, 100% 78%, 0 93%);
    padding: 0.2rem;
}
