.footer {
    background-color: #f7f7f7;
    padding: 0rem 4rem 0rem 4rem;
    display: grid;
    grid-template-columns: auto auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top: 1px solid #999;
}

.footer__logo{
    grid-row: 1/3;
    align-self: center;
}

.footer__logo img{
    height: 5rem;
}

.footer__nav{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.footer__nav li {
    margin-left: 1.5rem;
}

.footer__copyright{
    justify-self: end;
    color: #999;
}