.title {
    position: relative;
    text-align: center;
}

.title h1 {
    text-align: center;
    font-size: 1.8rem;
    text-transform: capitalize;
    letter-spacing: 3px;
}

.title::after{
    position: absolute;
    width: 380px;
    right: 47.5rem;
    top: 45px;
    z-index: 1;
    height: 3px;
    background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    content: "";
    -webkit-animation: allNfts_gradient__rcEuU 15s ease infinite;
    animation: allNfts_gradient__rcEuU 15s ease infinite;
    background-size: 400% 400%;
}


.title span{
    background-color: #41dfff;
    clip-path: polygon(0 21%, 100% 0, 100% 77%, 0 100%);
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.card__container{

    max-width: 120rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 7rem;
        margin-right: 1rem;
        display: grid;
        grid-template-columns: repeat(4, 25rem);
        grid-gap: 2rem;
        justify-items: center;
}
